body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #333;
  background-color: aliceblue;
}

.container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 240px;
  margin-right: 80px;

}

.heading {
  display: flex;
  align-items: center;

}

.img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
  text-align: center;
}

.heading h2 {
  margin-left: 10px;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav p {
  padding: 8px 8px 8px 32px;
  color: #f1f1f1;
  display: block;
}

.sidenav hr {
  margin: 10px 8px;
  border: 0;
  border-top: 1px solid #818181;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#new-task-title,
#new-task-desc {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#new-task-categoty {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#addButton {
  background-color: cornflowerblue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#addButton:hover {
  opacity: 0.8;
}

/* Table View Start */
.table-tbl {
  width: 100%;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: cornflowerblue;
  color: white;
}
/* End of Table View */


/* Cards Css */
.dragdrop {
  display: none;
  justify-content: space-around;
  padding: 20px;
  margin-top: 20px;
  flex-direction: row;
  width: 90%;
}

.card {
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  margin-bottom: 10px;
  margin-left: 20px;
}

.card h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  padding: 10px;
}

#todoList,
#doingList,
#doneList {
  padding: 0;
  list-style-type: none;
  align-items: center;
  flex-direction: column;
}

#todoList li,
#doingList li,
#doneList li {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 15px;
  background-color: #c5cae9;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 15px;
  flex-direction: column;
}

.card h2 {
  background-color: cornflowerblue;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 10px 10px 0 0;
}

#todoList li p,
#doingList li p,
#doneList li p {
  display: block;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  margin-bottom: 10px;
}

#todoList li:hover,
#doingList li:hover,
#doneList li:hover {
  background-color: #7986cb;
}

.icons-cards{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

#todoList li h3,
#doingList li h3,
#doneList li h3 {
  display: block;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin-bottom: 10px;
}

/* End Of Card Css */

/* Toogle Switch Css */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.middle{
  display: flex;
  justify-content: space-between;
  margin:  0 25px;
}
/* End of Toggle Switch */